{% extends 'base.html.twig' %}
{% block body %}
<h1>Welcom in this blog</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur corporis dicta dolorem hic illo minima
    quibusdam repellat rerum sequi soluta. A aut deserunt enim esse expedita mollitia provident quae recusandae rerum.
    Aliquam asperiores blanditiis consequatur cumque debitis ex quaerat rerum.
</p>
<p>Accusantium amet assumenda at
    beatae, commodi debitis dolorem doloribus ea eaque enim eum inventore iste itaque nemo, nulla officiis porro
    possimus provident quae quasi quibusdam quis sed, temporibus veritatis vitae voluptatibus voluptatum. Dignissimos
    ducimus illo non obcaecati qui unde veniam!
</p>

{% endblock %}
